<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NCC | DTD-Registration</title>
    <link rel="stylesheet" href="./../style.css">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./../../assets/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="containner">
            <div class="logo-container">
                <a href="./../../index.html">
                    <img src="./../../assets/img/ncc.png" alt="NCC Logo">
                </a>
                <h1>DIG THE DATA 3.0</h1>
            </div>
        </nav>
    </header>

    <section id="registration" class="green-section">
        <h1>Register Now</h1>
        <div class="registration-form">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfnVTKLNfUCtbHjVRuF1uwNHX2425DEqnI7EA1grZU4lA4gSw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </section>
</body>

</html>