/*! import font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


/* font-family:  "Roboto Condensed", serif; */
/* font-family: "Poppins", serif; */

/*! Root */
:root {
    --color-primary: #0C1E7F;
    --color-secondary: #D22779;
    --color-heading: #612897;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    /* overflow-x: hidden; */
}

html,
body {
    width: 100%;

}

body {
    background: no-repeat linear-gradient(to bottom right, #CDC1FF, #F5EFFF);

}

.containner {
    max-width: 1320px;
    margin: auto;
}

/* nav bar */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0px 1px 5px 5px #ffffff33;
    background: linear-gradient(to bottom right, #CDC1FF, #cdc1ff);
    z-index: 5;
}

nav {
    margin: auto;
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    filter: blur(0.5);
}

.logo-container {
    display: flex;
    align-items: center;
    font-family: "Roboto Condensed", serif;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--color-primary);
    margin-left: 2rem;
}

.logo-container h1{
    font-family: "Roboto Condensed", serif;
}

.logo-container img {
    width: 5rem;
}

/* ! register-button */
.register-button {
    margin-right: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--color-primary);
    color: #fff;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
    font-weight: normal;
    border: 1px solid var(--color-primary);
}

.register-button:hover {
    color: var(--color-primary);
    background: #fff;
}

/* !small device */
@media (max-width:500px) {
    .logo-container {
        margin-right: 1rem;
    }

    .logo-container img {
        width: 5rem;
    }

    .logo-container h1 {
        display: none;
    }

    /* .register-button {} */
}


/* ! about */

.about {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: 50% 50%;
    padding: 3rem 5rem;
    gap: 3rem;
    margin-top: 6rem;
}


/* ! silder----------------------------------------------- */

.carousel-container {
    align-self: center;

    width: auto;
    /* height: 500px; */
    aspect-ratio: 4/3;
    border: 0;
    border-radius: 1rem;
}

.carousel_items {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    /* width: 100%; */
    height: 100%;
}

.carousel_item {
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.carousel_text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-shadow: 1px 1px black;
    font-size: calc(1.5rem + 0.3vw);
    font-weight: bolder;
}

.item1 {
    background-image: url("./../assets/img/p1.jpg");
}

.item2 {
    background-image: url("./../assets/img/p2.jpg");
}

.item3 {
    background-image: url("./../assets/img/p3.jpg");
}

.item4 {
    background-image: url("./../assets/img/p4.jpg");
}

.item5 {
    background-image: url("./../assets/img/p5.jpg");
}


/* !responsive */

@media (max-width:992px) {
    .about {
        grid-template-columns: auto;
        gap: 0;
    }

    .carousel-container {
        /* aspect-ratio: 16/9; */
        width: auto;
        height: auto;
        aspect-ratio: 4/3;
    }
}

@media (max-width:600px) {
    .about {
        padding: 0rem;
    }

    .carousel-container {
        width: auto;
        border: 0;
    }
}

@media (max-width:400px) {

    .carousel-container {
        aspect-ratio: 1/1;
    }
}



/* ! about part */

.info {
    align-self: center;
}

.info img {
    height: 6.5rem;
}

.info p {
    margin-top: 1rem;
}

.info p span {
    font-weight: bold;
}

/* responsive */

@media (max-width:600px) {
    .info {
        padding: 2rem;
    }
}


/* ! ROADMAP */

.roadmap {
    padding: 2rem;
}

.roadmap-card {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
}

.roadmap-card .card {
    background-color: #cdc1ff;
    padding: 1rem;
}

.roadmap-card .card h3 {
    border-bottom: 3px solid;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

/* responsive */
@media (max-width:768px) {
    .roadmap-card {
        flex-direction: column;
    }
}

/* !few moment */
.few-moment {
    padding: 2rem;
}

.few-moment h1 {
    margin-bottom: 1rem;
}

.few-moment-card img,
.few-moment-card .video {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
}

.few-moment-card {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.few-moment-card .video {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
}

/* responsive */
@media (max-width:992px) {
    .few-moment-card {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width:768px) {
    .few-moment-card {
        grid-template-columns: auto auto;
    }
}

@media (max-width:600px) {
    .few-moment-card {
        grid-template-columns: auto;
    }

    .few-moment-card .video {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
}





/* ! copyright */
.copyright {
    min-height: 200px;
    background: var(--color-primary);
    padding: 2rem 5rem;
    color: white;
}

.copyright img{
    width: 5rem;
    margin-left: -1rem;
    filter:grayscale() invert()
}

/* Popup message */
#popup{
    z-index: 10;
    width: 100%;
    height: 100%;
    background: #0000009a url(./../assets/popup/dtd.jpg) no-repeat ;
    background-position: center;
    background-size: contain;
    position: fixed;
    top: 0;
    left: 0;
}

#popup button{
    padding: 0.5rem;
    font-family: monospace;
    border-radius: 50%;
    border: 2px solid red;
    background: red;
    color: white;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: 0;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.close{
    display: none;
}

